<h1>Editar Venta</h1>
<form action="/ventas/editar/{{venta.id}}" method="POST" enctype="multipart/form-data">
  <label for="producto">Nombre:</label>
  <input type="text" id="nombre" name="producto" value="{{venta.producto}}" required><br><br>

  <label for="fecha">Fecha:</label>
  <input type="text" id="fecha" name="fecha" value="{{venta.fecha}}" required><br><br>

  <label for="cantidad">Cantidad:</label>
  <input type="number" id="cantidad" name="cantidad" value="{{venta.cantidad}}" required><br><br>

  <label for="precio_unit">Precio Unitario:</label>
  <input type="number" id="precio_unit" name="precio_unit" value="{{venta.precio_unitario}}" required><br><br>

  <label for="total">Precio Total:</label>
  <input type="number" id="total" name="total" value="{{venta.total}}" required><br><br>

  <label for="imagen">Imagen:</label>
  <input type="file" id="imagen" name="imagen" accept=".jpg, .jpeg, .png" value="{{venta.image}}" required><br><br>

  <button type="submit">Actualizar venta</button>
</form>